.about
    &-banner
        margin-top: 130px
        background: url(../img/about/about.jpg) center no-repeat
    &__title
        padding-bottom: 40px
        margin: 0 0 45px
    &-us
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        &-content
            width: 55%
            &__title
                margin: 0 0 60px
                color: $menu-link
                line-height: 26px    