.about
    &-banner
        margin-top: 130px
        background: url(../img/about/about.jpg) center no-repeat
    &__title
        padding-bottom: 40px
        margin: 0 0 45px
    &-us
        &__image
            display: inline-block
            width: 100%
            max-width: 490px
            float: left
            padding-right: 25px
            position: relative
            margin-right: 65px
            &::before
                content: ''
                background-color: $line
                width: 3px
                height: 31px
                position: absolute
                top: 120px
                right: 0
        &-content
            &__title
                margin: 0 0 60px
            & p    
                color: $menu-link
                line-height: 26px
                margin: 0 0 30px
            &__second
                &-title
                    margin: 120px 0 60px    
.clear
    clear: both
.slide-about
    margin-bottom: 50px      
.about-carousel .owl-item img
    width: 300px
    margin: auto
.about-carousel.owl-loaded
    max-width: 1000px
    margin: auto 
.about-carousel .owl-nav.disabled 
    display: block
.about-carousel .owl-nav button.owl-prev, 
.about-carousel .owl-nav button.owl-next
    position: absolute
    top: 40%
    background-color: $main-bg
    border-radius: 50%
    color: $menu-link
    font-size: 20px
    font-weight: bold
    width: 55px
    height: 55px
.about-carousel .owl-nav button.owl-next
    right: -100px
.about-carousel .owl-nav button.owl-prev
    left: -100px
.about-carousel .owl-nav button.owl-prev:focus, 
.about-carousel .owl-nav button.owl-next:focus
    color: $white
    background-color: $line                                            