.cosmetology
    &-banner
        background: url(../img/services/services.jpg) center no-repeat
    &__title
        text-align: left
        padding-bottom: 40px
        margin: 0 0 55px 300px
        max-width: 310px
        &::after
            left: 0
            transform: translateX(0)
    &-menu
        margin-top: -140px
        &-list
            display: flex
            flex-direction: column
            margin: 0
            padding: 0
            list-style-type: none
            position: relative
            &__item
                margin-bottom: 8px
            &__link
                font-family: 'Times New Roman', sans-serif
                font-weight: normal
                width: 270px
                height: 72px     
                background-color: $white
                color: $menu-link 
                display: flex
                align-items: center
                font-size: 19px
                padding-left: 30px
                position: relative
                transition: .3s
                box-shadow: 5px 15px 20px 0px rgba(237, 237, 237, 0.69)
                &:hover
                    background-color: $line
                    color: $white 
                &::before
                    content: ''
                    background-color: $line
                    width: 3px
                    height: 31px
                    position: absolute
                    top: 20px
                    left: 0 
            &__inner
                max-width: 860px
                width: 100%
                margin-top: 95px
                position: absolute
                top: 0
                right: 0
                &-item
                    display: flex
                    align-items: center
                    justify-content: space-between
                    padding: 0 50px 0 35px
                    min-height: 46px
                &-item:nth-child(odd)
                    background-color: $cosmetology
                &-item:nth-child(even)
                    background-color: $white                    
                &-title
                    font-family: 'Times New Roman', sans-serif
                    font-size: 24px
                    color: $menu-link
                    margin: 40px 0 30px
                &-list
                    margin: 0
                    padding: 0
                    list-style-type: none
                &-name
                    color: $menu-link
                &-price
                    color: $menu-link     

.cosmetology-menu-list__inner
    display: none
.cosmetology-menu-list__inner.open
    display: block
.cosmetology-menu-list__link.bg     
    background-color: $line
    color: $white       