.header
    &-top
        background-color: $header-top
        min-height: 55px
        & .container
            position: relative
        &__logo
            position: absolute
            top: 0
            left: 0
            z-index: 8
            width: 240px
            background-color: $main-bg
            padding: 25px 0 30px
            & img
                margin: auto
                display: block
        &__marker
            color: $contacts
            width: 13px
            margin-right: 14px
            vertical-align: bottom
        &__address
            font-size: 14px
            color: $white
        &__phone
            color: $white
            font-size: 14px
            display: inline-block
            &::before
                content: url(../img/header/old-handphone.png)
                width: 15px
                height: 15px
                margin-right: 14px
                vertical-align: middle
        &__personal
            color: $white
            font-size: 14px
            display: inline-block
            border-bottom: 1px dotted $white 
            position: relative
            &::before
                content: ''
                background: url(../img/header/businessman.png) no-repeat
                width: 14px
                height: 17px
                vertical-align: middle
                position: absolute
                top: 0
                left: -26px
    &-bottom
        background-color: $white
        position: relative
        & .container
            position: relative
        &__link
            text-transform: uppercase
            color: $white
            font-size: 13px
            border-radius: 30px
            font-weight: bold
            display: flex
            align-items: center
            justify-content: center
            width: 180px
            height: 50px 
            background-color: $line                                     
.right-side
    max-width: 840px
    width: 100%
    position: absolute
    right: 0
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
.menu
    &-list
        padding: 0
        margin: 0
        list-style-type: none
        display: flex
        align-items: center
        min-height: 130px       
        &__item
            margin-right: 35px
            &:last-child
                margin-right: 0
        &__link 
            text-transform: uppercase
            display: block
            color: $menu-link 
            font-size: 13px
            transition: .3s
            padding: 20px 0 15px 
            position: relative
            font-weight: bold
            &:hover
                color: $menu-hover
                &::before
                    content: ''
                    height: 3px
                    width: 31px
                    background-color: $line
                    position: absolute
                    bottom: -3px
                    left: 50%
                    transform: translateX(-50%)         
.navbar
    position: absolute
    top: 0
    right: 0
    z-index: 5
    width: 100%
    max-width: 840px
    display: flex;
    align-items: baseline;
    justify-content: space-between              