.header
    &-top
        background-color: $header-top
        min-height: 55px
        & .container
            position: relative
        &__logo
            position: absolute
            top: 0
            left: 0
            width: 240px
            background-color: $main-bg
            height: 240px
            padding: 25px 0 30px
            & img
                margin: auto
                display: block
        &__marker
            color: $contacts
            width: 13px
            margin-right: 14px
        &__address
            font-size: 14px
            color: $white
        &__phone
            color: $white
            font-size: 14px
            &::before
                content: url(../img/header/old-handphone.png)
                width: 15px
                height: 15px
                margin-right: 14px
        &__personal
            color: $white
            font-size: 14px 
            &::before
                content: url(../img/header/businessman.png)
                width: 14px
                height: 17px
                margin-right: 14px        
.right-side
    max-width: 840px
    width: 100%
    position: absolute
    right: 0
    display: flex
    flex-wrap: wrap
    justify-content: space-between            