*,
*::before,
*::after
    box-sizing: border-box
    outline: none
body
    font-family: 'Raleway'
    font-weight: normal
    font-size: 16px
.container
    max-width: 1200px
    margin: auto
    padding: 0 15px
img
    max-width: 100%
button
    cursor: pointer
a
    text-decoration: none        