@media (max-width: 1220px)
    .header-top,
    .header-bottom
        & .container
            max-width: 1100px
    .right-side,
    .navbar
        max-width: 720px
@media (max-width: 1120px)   
    .header-top,
    .header-bottom
        & .container
            max-width: 1000px
@media (max-width: 1020px) 
    .header
        &-top
            &__logo
                padding: 15px 0
                height: auto                      