@media (max-width: 1800px)
    .instagram
        &-gallery
            flex-wrap: wrap
            justify-content: flex-start
            max-width: 891px
            margin: auto
            &__image
                width: 297px
@media (max-width: 1530px)
    .online
        &::after
            max-width: 780px
@media (max-width: 1370px)
    .ymap-container
        background-position: 30% -2px            
@media (max-width: 1280px)
    .owl-item
        &-block
            top: 45%
            &__title
                font-size: 40px
    .owl-dots
        bottom: 70px
    .hero-slider .owl-nav button.owl-next, 
    .hero-slider .owl-nav button.owl-prev
        top: 45%                           
@media (max-width: 1220px)
    .header-top,
    .header-bottom
        & .container
            max-width: 1100px
    .right-side,
    .navbar
        max-width: 720px
    .online
        &::after
            max-width: 600px
            background-position: 50%        
@media (max-width: 1215px)
    .main-gallery
        & .container
            max-width: 906px        
@media (max-width: 1186px)
    .main-stoce
        &-block
            margin-bottom: 40px
        &-inner
            max-width: none
    .online
        &::after
            display: none
        &-block
            margin: auto
        &__title
            text-align: center
        &-form
            &::after
                display: none
    .creature
        &-speech
            padding-left: 30px
            max-width: 570px
        &__image
            margin-top: -50px                    
@media (max-width: 1170px)
    .section,
    .section-bg
        padding: 80px 0
    .section-bg-gallery,
    .section-insta
        padding: 80px 0 0    
    .main-services
        & .container
            max-width: 900px
        &__title
            padding-bottom: 20px
            margin: 0 0 35px
        &-block
            margin: 0 10px 80px
            &s
                justify-content: flex-start 
    .online
        &::after
            min-height: 650px
    #map-yandex
        height: 530px
    .section-footer
        margin-top: 368px                    
@media (max-width: 1150px)
    .team
        &-item
            margin-bottom: 45px
            &s
                max-width: 900px
                margin: auto
        &__link
            margin: 30px auto 0                                                   
@media (max-width: 1120px)   
    .header-top,
    .header-bottom
        & .container
            max-width: 1000px
    .footer
        &-navbar
            max-width: 750px            
@media (max-width: 1113px)
    .creature
        &__image
            margin: 20px auto 0
        &-speech
            max-width: none                    
@media (max-width: 1020px) 
    .header
        &-top
            min-height: 80px
            &__logo
                padding: 15px 10px
                width: 120px
                left: 50%
                transform: translateX(-50%)
                & img
                    width: 80px
            &__address,
            &__phone,
            &__personal
                margin: 8px 0
            &__marker
                margin-right: 5px    
            &__address
                position: absolute
                top: 5px
                left: 0
                margin-left: 10px
            &__personal
                position: absolute
                top: 5px
                right: 0
                margin-right: 10px
            &__phone
                position: absolute
                bottom: 5px
                left: 0
                margin-left: 10px
                &::before
                    margin-right: 8px
            &__socials
                position: absolute
                right: 0
                bottom: 8px
                margin-right: 10px                 
        &-bottom
            & .container
                max-width: 1100px
            &__link
                position: absolute
                top: 10px
                right: 10px
                height: 40px            
    .right-side
        max-width: none
    .menu
        &-list
            min-height: 60px
            &__item
                position: relative
                top: 60px
                z-index: 10
                background-color: $white 
                margin-right: 0 
                border-bottom: 1px solid $line
                &:first-child
                    border-top: 1px solid $line
            &__link
                padding: 15px 10px
                font-size: 16px      
    .hero
        top: 60px
    .owl-item
        &-block
            &__line
                margin: 35px auto 20px
    .owl-dots
        bottom: 50px
    .hero-slider .owl-nav button.owl-next
        right: 50px
    .hero-slider .owl-nav button.owl-prev
        left: 50px
    .section,
    .section-bg
        padding: 50px 0
    .section-bg-gallery,
    .section-insta
        padding: 50px 0 0        
    .main-salon
        margin-top: 60px
        &-block
            flex-direction: column
            align-items: center
            &-left
                &__title
                    margin: 0 0 30px
                &__text
                    margin: 0 0 30px
                    max-width: none
                    padding-left: 20px
                &__link
                    margin: 0 auto 40px
    .main-gallery
        &__title
            padding-bottom: 25px
            margin: 0 0 35px
        &-button
            padding: 180px 0 50px
            bottom: -110px
    .online
        top: 110px
    .team
        margin-top: 110px
    #map-yandex
        height: 490px
    .section-footer
        margin-top: 388px        
    .footer
        & .container
            flex-direction: column
            align-items: center
        &-navbar
            max-width: 360px
            &__text
                text-align: center
            &__link
                margin-bottom: 25px        
        &-block
            flex-direction: column
            & .menu
                width: auto
                & ul
                    border-top: none 
                &-list
                    min-height: 300px
                    text-align: center
                    display: block
                    &__item:first-child
                        border-top: none
                    &__item
                        background-color: transparent
                        border-bottom: none
                    &__link
                        font-size: 13px                       
@media (max-width: 1000px)
    .ymap-container
        top: 460px
        left: 50%
        transform: translateX(-50%) 
    .main-contact-wrap
        top: 0
        left: 50%
        transform: translateX(-50%)
    .main-contact
        &__title
            margin: 0 0 30px
    .ymap-container
        width: 100%
        background-position: 0
        background-size: cover
        max-width: 600px
    #map-yandex
        height: 410px
@media (max-width: 940px)  
    .main-contact
        &__title
            font-size: 40px
        &-list
            &__item
                padding-left: 30px
                margin-bottom: 25px
        &-social
            padding-left: 0
            justify-content: center
    .ymap-container
        top: 400px                                                                                  
@media (max-width: 925px)
    .main-gallery
        &-block
            &__image
                padding: 0 8px
        & .container
            max-width: 602px                                     
@media (max-width: 920px)
    .main-services 
        & .container
            max-width: 610px
@media (max-width: 910px)
    .instagram
        &-gallery
            max-width: 595px
@media (max-width: 895px)
    .online-form-field__politic
        max-width: 500px                        
@media (max-width: 880px)
    .team
        &-item
            &s
                max-width: 580px
                margin: auto                                                    
@media (max-width: 870px)
    .owl-item
        &-block
            top: 40%
            &__title
                font-size: 40px
    .owl-item
        &-block
            &__title
                font-size: 34px
                letter-spacing: .7rem
            &__subtitle
                letter-spacing: .3rem    
            &__line
                margin: 20px auto 10px
    .hero-slider .owl-nav button.owl-next, 
    .hero-slider .owl-nav button.owl-prev
        top: 40%
@media (max-width: 812px)
    .main-contact
        &__title
            font-size: 34px
            text-align: center        
@media (max-width: 768px)
    .online
        &__title
            margin: 0 0 25px
        &-block
            padding-left: 15px
            max-width: 640px
        &-form
            &-fields
                max-width: 620px
@media (max-width: 717px)
    .main-contact
        &-wrap
            width: 100%
            right: 0
        &-list
            max-width: 300px
            margin: auto                                     
@media (max-width: 700px)
    .hero-slider .owl-nav button.owl-next
        right: 20px
    .hero-slider .owl-nav button.owl-prev
        left: 20px
    .owl-item
        &-block
            &__title
                font-size: 28px
            &__line
                margin: 15px auto 5px
    .owl-dots
        bottom: 30px 
@media (max-width: 680px)
    .online
        &-block
            max-width: 380px
        &-form
            &-fields
                flex-direction: column
                align-items: center
            &__button
                margin: auto                                                                               
@media (max-width: 670px)
    .header
        &-top
            &__address
                width: 180px
            &__address, 
            &__phone, 
            &__personal
                margin: 4px 10px
            &__logo
                width: 90px
                padding: 7px 
                & img
                    width: 60px
@media (max-width: 630px)
    .main-services 
        &-block
            margin: 0 0 80px
            &s
                max-width: 270px
                margin: auto
@media (max-width: 620px)  
    .main-gallery
        &-block
            max-width: 270px
            margin: auto
            &__image
                padding: 0
@media (max-width: 610px)
    .instagram
        &-gallery
            max-width: 298px                                                          
@media (max-width: 600px)
    .team
        &__title
            padding-bottom: 20px
            margin: 0 0 40px
        &-item
            margin-bottom: 35px
            &s
                max-width: 270px            
    .owl-dot
        width: 10px
        height: 10px
    .hero-slider .owl-nav button.owl-next,
    .hero-slider .owl-nav button.owl-prev
        display: none
    .owl-item
        &-block
            top: 35%
            &__line
                margin: 10px auto 5px
    .owl-dots
        bottom: 20px 
    .main-stoce
        &-top
            margin-bottom: 40px
            flex-direction: column
            &__title
                margin-bottom: 20px
        &-block
            flex-direction: column
            align-items: center 
        &-inner
            margin-left: 0
            margin-top: 30px
            &__title
                margin: 15px 0
            &__text
                margin: 0 0 15px
@media (max-width: 550px)
    .creature
        &__title
            text-align: center
            margin: 0 0 30px
        &-speech
            padding-left: 5px
            &::after
                left: -8px
            &__title
                margin: 0 0 20px                                                                                   
@media (max-width: 500px)
    .header
        &-top
            &__address
                display: none
            &__phone
                bottom: 26px 
    .owl-item
        &-block
            &__title
                margin: 0 0 10px
                font-size: 24px
            &__line
                display: none
            &__subtitle
                font-size: 16px
    .main-salon
        &-block
            &-left
                &__title
                    text-align: center
                    margin: 0 0 15px
                &__text
                    padding-left: 10px
                    margin: 0 0 20px
                    &::before
                        top: 5px 
                &__link
                    font-size: 14px
                    margin: 0 auto 20px           
    .section,
    .section-bg
        padding: 35px 0
    .section-bg-gallery,
    .section-insta
        padding: 35px 0 0    
    .section-title
        font-size: 36px
    .online
        &__title
            margin: 0 0 15px
@media (max-width: 473px)
    .online
        &-form
            &-field
                &__politic
                    max-width: 200px                                                                                                       
@media (max-width: 425px)
    .instagram
        &__title
            padding-bottom: 18px
            margin: 0 0 25px
    .header
        &-top
            min-height: 100px
            &__phone
                bottom: 40px
                left: auto
                right: 0
            &__socials
                bottom: 4px
            &__personal
                top: 4px        
            &__logo
                width: 100px
                left: 0
                transform: translateX(0)
                & img
                    width: auto
    .owl-dots
        display: none
    .owl-item
        &-block
            top: 50%
    .online
        &-block
            max-width: 330px
            padding-left: 10px
            &__subtitle
                margin: 0 0 10px
                font-size: 16px
                line-height: 20px
        &-form
            &-field
                &__politic
                    left: 95px
                    top: -12px        
    .check
        margin-right: 8px
    .item-check
        margin: 10px 0 20px 
    .creature
        &__title
            margin: 0 0 20px
        &__image
            height: 50vh
        &-speech
            &__text
                margin: 0 0 10px
            & strong
                margin-bottom: 10px
    .ymap-container
        top: 365px
        background-position: -100px                                                                                                   
@media (max-width: 390px)
    .creature
        &__image
            height: 40vh
    .header
        &-top
            &__address,
            &__phone,
            &__personal,
            &__socials
                right: 10px 
    .owl-item
        &-block
            &__title
                font-size: 20px
                letter-spacing: .5rem
            &__subtitle
                letter-spacing: .1rem 
    .main-salon
        &-block
            &-left
                &__text
                    padding-left: 0
                    &::before
                        left: -10px                                                                                                                                                    
@media (max-width: 376px)
    .online
        &-block
            &__subtitle
                font-size: 14px
    .main-contact
        &-list
            max-width: 270px
            &__item
                padding-left: 15px
    .ymap-container
        background-position: -120px                                
@media (max-width: 350px)
    .creature
        &__image
            height: 34vh                
@media (max-width: 338px)
    .ymap-container
        background-position: -150px
    .online
        &-block
            padding-left: 0
            &::before
                left: -8px
        &-form
            &-field
                &__politic
                    left: 110px
                    max-width: 140px
@media (max-width: 326px)
    .online
        &-block
            &__subtitle
                font-size: 16px                                                           