.promotions
    &-banner
        background: url(../img/stoce/stoce-bg.jpg) center no-repeat
    &__title
        padding-bottom: 40px
        margin: 0 0 70px
    & .main
        &-stoce
            &-inner
                max-width: none
            &-block
                margin-bottom: 65px
                &:last-child
                    margin-bottom: 0                         
.online-entry
    & .online
        top: 0     