.creature
    &__title
        margin: 0 0 60px
    &-speech
        position: relative
        max-width: 570px
        &__title
            font-style: italic
            font-family: 'Times New Roman', sans-serif
            font-size: 30px
            color: $menu-link
        &__text
            color: $menu-link      