.main-gallery
    &__title
        text-align: center
        padding-bottom: 40px
        margin: 0 0 56px
        position: relative
        &::after
            content: ''
            width: 31px
            height: 3px
            background-color: $line
            position: absolute
            bottom: 0
            left: 50%
            transform: translateX(-50%)