.gallery
    &-banner
        background: url(../img/gallery/gallery.jpg) center no-repeat
    &__title
        padding-bottom: 40px
        margin: 0 0 45px
    &-professions
        display: flex
        flex-wrap: wrap
        justify-content: center
        &__link
            font-weight: bold
            font-size: 13px 
            color: $gallery
            transition: .3s
            text-transform: uppercase
            margin: 0 12px
            &:hover,
            &.current
                color: $line
        &-block
            max-width: 270px
            width: 100%
            margin: 0 11px 70px
            &s
                margin-top: 65px
                display: flex        
            &__image
                & img
                    display: block
                    margin-bottom: 25px
            &__text
                text-align: center
                font-size: 13px
                line-height: 20px
                color: $gallery
                margin: 0 auto
                width: 220px 
        &__btn
            width: 187px
            height: 50px
            margin: auto              
                               